@use 'base';

.flex {
	display: flex;
}
.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	text-align: -9999em;
}

.hide {
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: opacity .25s ease-in-out, visibility .25s ease-in-out, height .25s .25s ease-in-out;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

.full-box {
	margin-left: -25px;
	margin-right: -25px;
}

.pd {
	padding-left: 25px;
	padding-right: 25px;
}

.al-r {
	text-align: right;
}

.bg-grey {
	background: #F6F5F5 !important;
}

.lock {
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.active {
	color: base.$point-color;
}

#content {
	position: relative;
	padding-top: 80px;

	&>section {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.sub-title {
	margin-top: 21px;
}

.loading {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .15);

	&::before {
		content: '';
		display: inline-block;
		position: fixed;
		z-index: 99;
		top: 50%;
		left: 50%;
		width: 40px;
		height: 40px;
		background: url(../img/loading.gif) no-repeat 50% 50% / 100% auto;
		transform: translate(-50%, -50%);
	}
}