%after {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    top: 49%;
    left: 51%;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.cal {
    position: relative;
    background: $white;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px 0;

        .date {
            .year {
                display: block;
                @include font(600, 12px);
            }

            .month {
                @include font(600, 30px);
            }
        }

        .month-prev {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../img/cal-month_arrow.png) no-repeat 50% / 7px auto;
            margin-left: 20px;
        }

        .month-next {
            @extend .month-prev;
            transform: rotate(180deg);
        }

    }

    &-week {
        display: flex;
        justify-content: space-around;
        padding: 10px 16px 13px;

        .week-name {
            font-size: 14px;
            color: $basic-color;

        }
    }

    &-days {
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 16px 15px;
        font-size: 15px;

        .day {
            display: inline-block;
            position: relative;
            z-index: 0;
            width: 14.2%;
            line-height: 42px;
            text-align: center;
        }

        .today {
            &:after {
                @extend %after;
                border: 1px solid $gray-2e;
                content: 'today';
                font-size: 10px;
                writing-mode: vertical-lr;
                line-height: 60px;
                transform: rotate(-90deg) translate(-50%, -50%);
                transform-origin: left top;
            }

            &.ing {
                &:before {
                    bottom: -2px;
                }
            }

            &.disabled {
                &::after {
                    color: $basic-color;
                }
            }
        }


        .ing {
            &::before {
                @extend %after;
                width: 5px;
                height: 5px;
                top: auto;
                bottom: 1px;
                background: $point-color;
                transform: translateX(-50%);
            }
        }

        .prev {
            color: $gray-83;
        }

        .next {
            @extend .prev;
        }

        .holy {
            color: #D0021B;
        }

        .on {
            color: $white;

            &::after {
                @extend %after;
                background: $point-color;
            }
        }

        .disabled {
            color: $gray-d9;
        }

    }

    &-bull {
        margin-top: 10px;
        @include font(200, 12px);

        .bull-active {
            &::before {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-right: 5px;
                border-radius: 50%;
                background-color: $point-color;
                vertical-align: middle;
            }
        }

        .bull-end {
            @extend .bull-active;
            margin-left: 14px;

            &:before {
                background-color: $gray-2e;
            }
        }

        .bull-cancel {
            margin-left: 10px;

            &::before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 2px;
                margin-right: 5px;
                margin-top: -2px;
                border-radius: 1px;
                background-color: $basic-color;
                transform: rotate(-45deg);
                vertical-align: middle;
                transform-origin: center;

            }
        }
    }
}