@use "sass:string";
@use "sass:list";

@function split($selector, $append, $order, $pos){
  $arr     : string.split($selector, ' ');
  $length  : length($arr);
  $order   : if( $order >= $length, 1, $length - $order);
  $replace : nth($arr, $order);
  $reArray : set-nth($arr, $order , str-insert($replace, $append, $pos));

  $list    : join((),$reArray, $separator: space);
  
  @return $list;
}
