@use 'base' as base;

%pse {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 8px;
	border-radius: 2px;
	background: base.$basic-color;
	transition: transform .25s ease-in-out;
}

.gnb {
	position: fixed;
	z-index: 90;
	left: 0;
	right: 0;
	
	&-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		padding: 10px 26px 18px;
		height: 80px;
		background: base.$white;
		
		&.scroll {
			border-bottom: 1px solid rgba(151, 151, 151, .2);
		}
		
		.logo {
			display: block;
			position: absolute;
			left: 25px;
			
			span {
				display: inline-block;
				margin-top: -5px;
				margin-left: 5px;
				vertical-align: middle;
				
				&:before {
					@extend %pse;
					transform: rotate(-44deg);
					
					@at-root .open & {
						transform: rotate(44deg);
						background: base.$point-color;
					}
				}
				
				&:after {
					@extend %pse;
					margin-left: 5px;
					transform: rotate(44deg);
					
					@at-root .open & {
						transform: rotate(-44deg);
						background: base.$point-color;
					}
				}
			}
		}
		
		[class^=ico-gnb] {
			display: block;
			width: 30px;
			height: 30px;
		}
		
		.ico-gnb {
			&-search,
			&-favor {
				background: no-repeat 50% / auto;
				transition: all .25s;
			}

			&-search {
				background-image: url(../img/ico-gnb-search.svg);
			}
			
			&-favor {
				margin-left: 20px;
				background-image: url(../img/ico-gnb-favor.svg);
			}
			
			@at-root .open #{&}{
				&-search,
				&-favor {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		
	}
	
	&-menu {
		position: relative;
		overflow: scroll;
		box-sizing: border-box;
		height: calc(100% - 80px);
		padding: 20px 25px;
		background: base.$white;
		&.ani-enter-active {
			animation: menu-active .25s;
		}
		
		&.ani-leave-active {
			animation: menu-active .25s reverse;

		}
		
		a {
			display: block;
		}
		
		.menu-list {
			border-top: 1px solid rgba(0, 0, 0, .1);
			padding: 25px 0;
			
			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
			
			li {
				font-size: 22px;
				line-height: 45px;
				
				&:first-child {
					margin-top: 0;
				}
				
				&.active {
					a {
						color: base.$point-color;
					}
				}
			}
			
		}
	}
	
	&.open {
		height: 100%;
	}
	
	.pop {
		&-wrap {
			left: 0;
			padding-top: 110px;

			&.ani-enter-active {
				animation: search-active .25s;
			}
			
			&.ani-leave-active {
				animation: search-active .25s reverse;

			}
		}
		
		&-cont {
			
			.list-wrap {
				padding: 20px 0;
				border-bottom: 1px solid #E5E5E5;
				
				li {
					display: flex;
					justify-content: space-between;
					align-items: center;
					
					margin-top: 10px;
					font-size: 16px;
					line-height: 24px;
					
					&:first-child {
						margin-top: 0;
					}
				}
				
				a {
					display: block;
					width: 100%;
				}
				
				.btn-del {
					display: inline-block;
					width: 24px;
					height: 24px;
					background: url(../img/mypage/bg-ico_close.png) no-repeat 50%/14px auto;
					opacity: .2;
				}
				
				.empty-text {
					padding: 34px 0;
					text-align: center;
					font-size: 16px;
					color: #848484;
				}
			}
			
			.btn-wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				
				button {
					display: block;
					padding: 8px 0;
					font-size: 14px;
					color: #757575;
				}
			}
			
			.hash-tag {
				margin-top: 35px;
				
				.t-title4 {
					display: block;
					flex-basis: 100%;
				}
				
				button {
					margin-top: 9px;
				}
			}
		}
		
		&-btn-close {
			top: 30px;
			left: 25px;
			right: auto;
			width: 27px;
			height: 24px;
			background-image: url(../img/btn-gnb_search-close.svg);
			background-size: 26px auto;
		}
	}
}

@keyframes search-active {
	0% {
		left: 100%;
	}
	100% {
		left: 0%;
	}
}
@keyframes menu-active {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}