.income {
    margin-top: 40px;
    padding: 30px 25px 64px;

    @at-root .pop-cont & {
        padding-top: 14px;
        padding-bottom: 30px;
    }

    &-tooltip {
        position: relative;

        .ico-tooltip {
            display: inline-block;
            margin-left: 5px;

            &.on {
                @at-root .ios &::before {
                    top: 17px;
                }
            }
        }

        .tip {
            z-index: 1;
            left: 5px;
            right: 5px;
            padding-right: 20px;
        }

        .income-pos1 {
            &:before {
                left: 68px;
                right: auto;
            }
        }

        .income-pos2 {
            &:before {
                left: 160px;
                right: auto;
            }
        }

        .title {
            display: block;
            margin-bottom: 16px;
            @include font(600, 16px);
        }

        table {
            width: 100%;
            margin-top: 24px;
            border-collapse: collapse;
            border: 1px solid $gray-b7;
            @include font(400, 13px);

            &:nth-of-type(1) {
                margin-top: 0px;
            }

            caption {
                margin-bottom: 10px;
                font-size: 15px;
                text-align: left;
            }

            thead {
                background: $gray-ea;

                th {
                    height: 32px;
                    border: 1px solid $gray-b7;
                    font-weight: 200;
                }
            }

            td {
                height: 32px;
                border-left: 1px solid $gray-d9;
                border-top: 1px solid $gray-d9;
                background: $white;
                text-align: center;

                &:first-child {
                    border-left: 0;
                }
            }
        }
    }

    &-card {
        padding: 16px 22px;
        background: $white;

        &+.inp-card {
            margin-top: 20px;
        }

        a {
            display: block;
        }

        .status {
            display: block;
            padding-top: 6px;
            font-size: 16px;
        }

        .ico-more_arrow {
            margin-top: -4px;
        }

        .cost {
            display: inline-block;
            margin-top: 3px;
            @include font(600, 30px);

            &.type2 {
                padding-right: 18px;
                background: url(../img/mypage/ico-arrow_right.png) no-repeat 100% 50%/ 7px auto;
            }

            .t-ko {
                font-size: 28px;
            }
        }

        .term {
            display: block;
            margin-top: 5px;
            font-size: 15px;
            color: $gray-83;
        }

        .date {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 24px;
            padding-top: 10px;
            border-top: 1px solid $gray-ea;
            font-size: 13px;
            color: $gray-2e;

            dt {
                display: inline-block;
            }

            dd {
                display: inline-block;
                margin-left: 5px;
                font-size: 14px;
            }

            .deposit {
                color: $point-color;
            }

        }
    }


    .inp-card {

        .card-tit {
            line-height: inherit;

            .income-tooltip {
                width: 100%;

                .tip {
                    left: -13px;
                    right: -13px;
                }
            }
        }

        .ico-tooltip {
            float: none;
        }

        .tooltip {
            top: 50%;
            transform: translateY(-50%);
            line-height: auto;

        }
    }

    .account-list {
        padding: 18px 24px;
        font-size: 16px;

        li {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
            line-height: 1.8;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &-manage {
        margin-top: 40px;

        .desc {
            font-size: 15px;
            color: $gray-83;

            &+.income-title {
                margin-top: 30px;
            }
        }

        .not-list {
            margin-top: 84px;
            margin-bottom: 56px;
            @include font(400, 16px);
            color: #ADADAD;
            text-align: center;
        }

    }

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 56px;
        padding: 0 25px;
        background: $gray-5b;
        font-size: 15px;
        color: $white;

        .prev {
            width: 7px;
            height: 12px;
            background: url(../img/mypage/ico-arrow_right-white.png) no-repeat 0 0 / 100% auto;
            transform: rotate(180deg);
        }

        .next {
            width: 7px;
            height: 12px;
            background: url(../img/mypage/ico-arrow_right-white.png) no-repeat 0 0 / 100% auto;
            transform: rotate(0);
        }
    }

    &-list {
        margin-top: 20px;
        background: $white;

        &:first-child {
            margin-top: 30px;
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 52px;
            background: $gray-83;
            font-size: 15px;
            color: $white;
        }

        .list-item {
            display: flex;
            align-items: center;
            padding: 24px;
            border-top: 1px solid $gray-ea;

            &:nth-of-type(1) {
                border-top: 0;
            }
        }

        .item-status {
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-width: 72px;
            max-width: 72px;
            height: 72px;
            border-radius: 50%;
            border: 1px solid $point-color;
            @include font(600, 12px);
            text-align: center;
            color: $point-color;

            .date {
                @include font(400, 14px);
            }
        }

        .item-content {
            margin-left: 22px;

            .cost {
                display: block;
                font-size: 20px;
            }

            .date {
                display: block;
                @include font(200, 15px);
                color: $gray-83;
            }

            .desc {
                display: block;
                margin-top: 3px;
                @include font(200, 14px);
                color: $gray-5b;
            }
        }

        .no-item {
            padding: 48px 0;
            @include font(200, 16px);
            color: $gray-b7;
            text-align: center;
        }
    }

    &-wrap {
        margin-top: 16px;

        @at-root .income-card+& {
            margin-top: 20px;
        }

        .txt {
            font-size: 16px;
            font-weight: 400;
            color: $gray-2e;

            .t-num {
                font-size: 17px;
            }
        }
    }

    &-txt_list {
        margin-bottom: -64px;

        li {
            border-top: 1px solid $gray-ea;

            &:first-child {
                border-top: 0;
            }
        }

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 24px 25px;
            background: $white;
        }

        .list-tit {
            font-size: 18px;
        }

        .text-info {
            color: $gray-5b;

            span {
                &::after {
                    background: $gray-5b;
                }
            }
        }

        .cost {
            font-size: 16px;
            padding-right: 18px;
            background: url(../img/mypage/ico-arrow_right.png) no-repeat 100% 50%/ 7px auto;
        }
    }

    &-detail {
        padding-bottom: 40px;

        .detail-wrap {
            margin-top: 24px;
            padding-left: 15px;
        }

        .inp-tit {
            margin-left: -15px;
        }

        .cost {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6px;
            font-size: 17px;
            font-weight: 400;
            color: $gray-2e;
        }

        dl {
            margin-top: 10px;

            &:nth-of-type(1) {
                margin-top: 8px;
            }
        }

        dt {
            margin-top: 6px;
            font-size: 16px;
            font-weight: 400;
            color: $gray-83;
        }

        dd {
            padding-left: 13px;

            &.cost {
                margin-top: 4px;
            }
        }
    }

    &-total {
        background: $gray-2e;
        padding: 24px 25px;

        dl {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 10px;
            color: $white;

            &:first-child {
                margin-top: 0;
            }
        }

        dt {
            @include font(600, 14px);
            color: inherit;
        }

        dd {
            font-size: 17px;
            font-weight: 400;
        }

        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 25px;
            padding-top: 18px;
            border-top: 1px solid $gray-d9;
            color: $white;

            strong {
                @include font(600, 18px);
            }

            span {
                font-size: 19px;
                font-weight: 400;
            }

        }
    }

}

.detail-wrap {
    .inp-tit {
        margin-bottom: 0;
    }

    &:nth-of-type(1) {
        .inp-tit {
            &:before {
                content: 'A\00a0\00a0';
            }
        }
    }

    &:nth-of-type(2) {
        .inp-tit {
            &:before {
                content: 'B\00a0\00a0';
            }
        }
    }

    &:nth-of-type(3) {
        .inp-tit {
            &:before {
                content: 'C\00a0\00a0';
            }
        }
    }

    &:nth-of-type(4) {
        .inp-tit {
            &:before {
                content: 'D\00a0\00a0';
            }
        }
    }

    &:nth-of-type(5) {
        .inp-tit {
            &:before {
                content: 'E\00a0\00a0';
            }
        }
    }

    &:nth-of-type(6) {
        .inp-tit {
            &:before {
                content: 'F\00a0\00a0';
            }
        }
    }
}

.pop-income {
    .t-title1 {
        margin-bottom: 30px;
    }

    .income {
        margin-top: 0;
    }

    .list {
        &-content {
            padding-top: 16px;
            padding-bottom: 14px;
        }

        &-tit {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 21px;
        }
    }

    .text-info {
        margin-top: 16px;
        color: $gray-5b;

        span {
            font-weight: 200;
        }
    }

    .inp-txt {
        margin-top: 16px;
        font-weight: 400;
    }

}