.account-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-top: 30px;
    padding: 16px 40px 15px 20px;
    border-radius: 3px;
    background: $gray-f6;
    @include font(400, 15px);

    &.type2 {
        font-weight: 200;
    }

    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 6px;
        height: 9px;
        margin-bottom: 1px;
        margin-left: 12px;
        background: url(../img/cal-month_arrow.png) no-repeat 0 0 /6px auto;
        transform: rotate(180deg) translateY(-50%);
        transform-origin: 0 0;

        @at-root .type2#{&} {
            background-image: url(../img/mypage/ico-arrow_right-white.png);
            transform: translateY(-50%);
        }
    }

    .cost {
        font-weight: 400;

        @at-root .type2#{&} {
            font-weight: 200;
        }
    }

    &~.tab-title {
        margin-top: 24px;
    }

    &~.income {
        margin-top: 24px;
    }

    &.type2 {
        justify-content: flex-start;
        background: $point-color;
        color: $white;

        .cost {
            margin-left: 14px;
        }
    }
}

.lend-view {
    border-top: 1px solid $gray-ea;
}

.lend-detail {
    margin-top: 30px;
    padding: 30px 25px 64px;

    .list-mypage {
        padding-bottom: 0;

    }
}

.recruit-list {
    overflow: hidden;
    height: 66px;

    .bundle {
        @extend %flex-jutify;
        height: 65px;
        padding: 0 18px;
        border-top: 1px solid $gray-ea;
        color: $gray-83;
    }

    .list-tit {
        @include font(600, 15px);
        color: $basic-color;
    }

    .btn-list {
        display: block;
        position: relative;
        padding-right: 22px;
        font-size: 14px;
        color: $gray-83;

        em {
            font-weight: 600;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            width: 12px;
            height: 7px;
            background: url(../img/mypage/ico-sel_arrow.svg) no-repeat 100% 50%/100% auto;
            transform: translateY(-50%) rotate(0);
        }

        &.on {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    .recruit-status {
        padding: 18px;
        background: $gray-b7;
        font-size: 15px;
        line-height: 22px;
        color: $white;
        text-align: center;
    }

    ul {
        max-height: 246px;
        overflow: scroll;
    }

    li {
        @extend %flex-jutify;
        padding: 18px;
    }

    .info {
        @extend %flex-jutify;

        img {
            width: 46px;
            border-radius: 50%;
        }

        figcaption {
            margin-left: 12px;

            span {
                display: inline-block;
                position: relative;
                font-size: 14px;
                padding-right: 8px;
                padding-left: 4px;

                &:first-child {
                    padding-left: 0;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 1px;
                        height: 12px;
                        background-color: $gray-2e;
                        transform: translateY(-50%);
                    }
                }
            }

            .manager {
                @include font(200, 13px);
            }
        }
    }

    .status {
        span {
            display: block;
        }

        .tit {
            @include font(600, 16px);
        }

        .date {
            margin-top: 2px;
            @include font(200, 13px);
        }
    }

    .disabled {
        color: $gray-b7;

        .info {
            figcaption {
                span:before {
                    background: $gray-b7;
                }
            }
        }
    }
}