.list {

    &-content {
        overflow: hidden;

        .text-info {
            font-size: 0;
            white-space: nowrap;

            @at-root .list-mypage & {
                margin-bottom: 10px;
            }

            @at-root .head & {
                margin-bottom: 0;
                margin-top: 10px;
            }

            span {
                display: inline-block;
                position: relative;
                @include font(400, 15px);
                margin-right: 8px;
                padding-left: 8px;

                @at-root .list-mypage & {
                    color: $gray-83;

                    &.price {
                        line-height: 20px;
                        color: $basic-color;
                    }
                }

                &:after {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -8px;
                    content: "";
                    width: 1px;
                    height: 12px;
                    background: #e4e4e4;

                    @at-root .list-mypage & {
                        background: $gray-83;
                    }
                }

                &:first-child {
                    padding-left: 0;
                }

                &:first-child:after {
                    display: none;
                }

                &.price {
                    font-weight: 600;
                }
            }

            .price {
                margin-top: 0;
                font-size: 16px;

                em {
                    font-size: 16px;
                }
            }
        }
    }

    &-scroll {
        margin-top: 20px;
        overflow: hidden;

        ul {
            display: flex;
            overflow-x: scroll;
            margin-bottom: -30px;
            padding-bottom: 30px;
            padding-left: 25px;
            padding-right: 5px;
        }

        li {
            flex-shrink: 0;
            min-width: 300px;
            width: 80%;
            padding-right: 20px;
            padding-bottom: 30px;

            @at-root .regular#{&} {
                min-width: 210px;
                width: 56%;
            }

            img {
                max-width: 100%;
                border-radius: 3px;
            }

            a {
                display: block;
            }

            .price {
                margin-top: 10px;
            }
        }

        .list-content {
            margin-top: 12px;
            color: #000;

            strong {
                display: block;
                overflow: hidden;
                width: 90%;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 1.5;

                span {
                    font-weight: 200;
                }
            }

            p {
                margin-top: 3px;
                margin-bottom: 12px;
                font-weight: 200;

                @at-root .land#{&} {
                    padding-right: 50px;
                }

            }

            .text-info {

                span {
                    opacity: 1;
                    color: #7f7f7f;
                }
            }

        }
    }

    &-default {
        overflow: hidden;
        margin-top: 20px;

        li {
            &+li {
                margin-top: 40px;
            }
        }

        a {
            display: block;
            position: relative;
        }

        img {
            max-width: 100%;
            border-radius: 3px;
        }

        .list-content {
            margin-top: 12px;

            p {
                margin-top: 2px;
                margin-bottom: 12px;
                -moz-outline-radius-bottomleft: 26px;
            }

            .text-info {
                margin-top: 4px;
            }

            .price {
                margin-top: 10px;
            }

        }
    }

    &-mypage {
        position: relative;
        padding-top: 10px;
        padding-bottom: 64px;

        a {
            display: block;
        }


        li {
            position: relative;
            padding: 20px 0;
            border-top: 1px solid $gray-ea;
            background: $white;

            &:first-child {
                border-top: none;
            }

            @at-root .check#{&} {
                display: flex;
                align-items: center;
            }

            @at-root .type2#{&} {
                margin-top: 0;
                padding: 0;
                border-top: 0;

                &.on {
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        border: 2px solid $point-color;
                    }
                }
            }

        }

        figure {
            display: flex;
            align-items: center;

            @at-root .type2#{&} {
                position: relative;
                margin-top: 8px;
                padding: 16px;
                background: $white;
            }

            @at-root .check#{&} {
                display: block;
                position: relative;
            }

            .img-wrap {
                overflow: hidden;
                display: inline-block;
                position: relative;
                width: 100px;
                min-width: 100px;
                height: 100px;
                border-radius: 3px;
            }

            img {
                position: relative;
                top: 50%;
                width: 100%;
                border-radius: 3px;
                transform: translateY(-50%);
            }

            &.on {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $point-color;
                }
            }

        }

        .list-content {
            width: 100%;
            margin-left: 24px;
            margin-top: 0;

        }

        .btn-normal {
            display: inline-block;
            position: relative;
            padding-left: 11px;
            margin-left: 11px;
            font-size: 14px;
            color: $gray-b7;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                width: 1px;
                height: 13px;
                background: $gray-b7;
                transform: translateY(-50%);
            }

            &:nth-of-type(1) {
                &::before {
                    display: none;
                }
            }
        }

        &.scroll {

            ul {
                overflow: auto;
                white-space: nowrap;
                font-size: 0;
            }

            li {
                display: inline-block;
                width: 80%;
                margin-left: 20px;
                background: $white;

                &:last-child {
                    margin-right: 20px;
                }
            }

            figure {
                margin-top: 0;
                white-space: normal;
            }

            .list-desc {
                margin-bottom: 0;
                padding-right: 10px;
            }

        }

    }

    &-num {
        margin-bottom: 10px;
        font-size: 15px;
        color: $gray-83;

        @at-root .list-content & {
            margin-bottom: 4px;
            font-weight: 400;
        }


        mark {
            color: $basic-color;
        }

    }

    &-tit {
        display: block;
        overflow: hidden;
        margin-bottom: 4px;
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.3;
        font-weight: 400;

        &.multi-line2 {
            overflow: hidden;
            white-space: normal;
            max-height: 2.6em; // line-height의 두배
        }

    }

    &-desc {
        margin-bottom: 10px;
        font-size: 16px;
        color: #888;

        em {
            font-family: "Noto", sans-serif;
        }

        &.small {
            padding-right: 34px;
            font-size: 14px;
            color: #838383;

            @at-root .bg-grey & {
                margin-bottom: 0;
            }
        }
    }

    &-text {
        .select-box {
            display: block;
            padding: 15px 0;
        }

        ul {
            border-top: 1px solid $gray-ea;
        }

        li {
            display: flex;
            justify-content: space-between;
            padding: 21px 25px;
            line-height: 22px;
            border-bottom: 1px solid $gray-ea;
        }

        .al-r {
            align-self: flex-end;
        }

        .status {
            font-size: 15px;
            color: $gray-2e;

            span {
                display: inline-block;
                position: relative;
                margin-left: 6px;
                padding-left: 8px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 3px;
                    height: 14px;
                    border-left: 1px solid $gray-b7;
                }

                &:first-child {
                    margin-left: 0;
                    padding-left: 0;

                    &::before {
                        display: none;
                    }
                }
            }

        }

        .tit {
            @include font(600, 16px);
        }

        .time {
            display: block;
            font-size: 13px;
            color: $gray-b7;
        }

        .point {
            @include font(600, 17px);
            color: $point-color;

            .t-ko {
                font-size: 16px;
            }

            small {
                display: block;
                font-size: 13px;
                color: $gray-2e;
            }
        }

    }

    &-check {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @at-root .list-num~#{&} {
            top: 36px;
        }

        label {
            display: block;
            height: 100%;
            border-radius: 3px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                box-sizing: border-box;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: rgba(75, 75, 75, .44);
                border: 2px solid $white;
            }
        }

        input:checked~label {
            background: rgba(55, 55, 55, .42);

            &:before {
                border-color: transparent;
                background: $point-color url(../img/mypage/bg-list_check.png) no-repeat 0 50%/auto 100%;
            }
        }

    }

    &-msg {
        li {
            padding: 25px 25px;
        }

        a {
            display: flex;
            position: relative;
        }

        figure {
            overflow: hidden;
            width: 100%;
            max-width: 48px;
            height: 48px;
            border-radius: 50%;
            align-self: center;

            img {
                width: 100%;
            }
        }

        .list {
            &-content {
                padding-left: 14px;
                padding-right: 80px;

                &.read {
                    opacity: .2;
                }
            }

            &-tit {
                @include font(600, 16px);
            }

            &-msg {
                overflow: hidden;
                max-height: 40px;
                margin-top: 4px;
                @include font(200, 15px);
                word-break: break-all;
            }
        }

        .al-r {
            position: absolute;
            top: 2px;
            right: 0;
            box-sizing: border-box;
            padding-left: 10px;
            width: 100%;
            max-width: 70px;
        }

        .time {
            display: block;
            font-size: 12px;
            color: $gray-83;
            vertical-align: top;
        }

        .bull {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-top: 14px;
            border-radius: 50%;
            background: $point-color;
            @include font(600, 12px);
            line-height: 24px;
            color: $white;
            text-align: center;
            vertical-align: top;
        }
    }
}

.badge {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    font-size: 0;

    [class^="badge-"] {
        display: inline-block;
        height: 23px;
        margin: 0 5px;
        padding: 0 8px;
        border-radius: 3px;
        @include font($size: 14px);
        line-height: 23px;
        color: $white;
    }

    &-new {
        background: rgba(156, 5, 0, .8);
    }

    &-end {
        background: rgba(42, 100, 139, .85);
    }

    &-dc {
        background: rgba(175, 152, 64, .85);
    }
}

.tab-area {
    margin-top: 50px;
}

.tab-title {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.simple {
        justify-content: space-between;
    }

    a {
        display: block;
        width: 100%;
        padding-bottom: 7px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $gray-b7;
        border-bottom: 3px solid $gray-d9;


        @at-root .check#{&} {
            &:after {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-left: 6px;
                background: url(../img/mypage/ico-tab_check.svg) no-repeat 100% 0 / auto 100%;
                vertical-align: middle;
            }

            &.active {
                // border-bottom: 3px solid $gray-d9;
                color: $basic-color;

                &:after {
                    background-position: 0 0;
                }
            }

            &.dim {
                color: $basic-color;
            }
        }

        @at-root .simple#{&} {
            width: auto;
            padding: 0;
            border-color: transparent;
            @include font(600, 20px);
            line-height: 29px;
            color: #A2A2A2;
            border-bottom: 0;
        }

        &.on {
            border-bottom-color: $point-color;
            font-weight: 600;
            color: $point-color;

            @at-root .simple#{&} {
                border-bottom: 0;
                color: $basic-color;
            }
        }
    }
}

.list-status {
    display: inline-block;
    position: relative;
    font-size: 16px;

    .ico-more_arrow {
        margin-top: -1px;
    }
}

.check-share {
    label {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        height: 22px;
        margin-bottom: 12px;
        padding-left: 9px;
        padding-right: 25px;
        border: 1px solid $gray-d9;
        border-radius: 22px;
        font-size: 10px;
        line-height: 22px;
        color: $gray-2e;
        vertical-align: top;

        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $gray-d9;
        }

        &:after {
            content: ' OFF';
        }
    }

    input:checked~label {
        padding-left: 25px;
        padding-right: 9px;

        &:before {
            right: auto;
            left: 0;
            background: $point-color;
        }

        &:after {
            content: ' ON';
        }
    }
}

@media only all and (min-width:320px) and (max-width:359px) {
    .list {
        &-content {
            .text-info {
                span {
                    margin-right: 4px;
                    padding-left: 4px;
                    font-size: 13px;

                    &:after {
                        top: 63%;
                    }
                }
            }
        }
    }

}