section {
	padding-bottom: 50px;
}


.t-desc2 {
	margin-top: 15px;
	padding-bottom: 10px;
	line-height: 1.6;

}


.login-opt {
	margin-top: 40px;
	border-top: 1px solid #E5E5E5;

	.social-login {
		margin-top: 40px;

		a {
			position: relative;
			display: block;
			margin-top: 8px;
			padding: 11px 0 13px;
			@include font(400, 15px);
			text-align: center;
			border-radius: 3px;

			&:first-child {
				margin-top: 0;
			}

			.txt:before {
				display: inline-block;
				vertical-align: middle;
				content: '';
			}

			&.facebook {
				border: 2px solid #405EA8;

				.txt {
					padding-left: 14px;

					&:before {
						width: 8px;
						height: 18px;
						left: 22.7%;
						margin-right: 12px;
						background: url(../img/login/ico_social_01.png) no-repeat 0 0 / 8px auto;
					}
				}
			}

			&.naver {
				border: 2px solid #4FAE48;

				.txt {
					&:before {
						width: 13px;
						height: 12px;
						margin-right: 26px;
						background: url(../img/login/ico_social_02.png) no-repeat 0 0 / auto 12px;
					}
				}
			}

			&.kakao {
				border: 2px solid #EFDA43;

				.txt {
					&:before {
						width: 15px;
						height: 14px;
						margin-right: 24px;
						background: url(../img/login/ico_social_03.png) no-repeat 0 0 / auto 14px;
					}
				}
			}

		}
	}
}

.find-opt {
	margin-top: 24px;
	text-align: center;
	font-size: 0;

	li {
		position: relative;
		margin-left: 36px;
		display: inline-block;

		&:first-child {
			margin-left: 0;

			&:before {
				width: 0;
			}
		}

		&:before {
			position: absolute;
			left: -18px;
			top: 2px;
			width: 1px;
			height: 14px;
			background: rgba(0, 0, 0, 1);
			content: '';
		}

		a {
			@include font(400, 14px);
		}
	}
}


.agree {
	border-top: 1px solid #E5E5E5;
	margin-top: 16px;
	padding-top: 16px;

	.check-box {
		display: block;
		margin-top: 10px;

	}
}

.argee-all {
	display: block;
}

.t-desc2 {
	mark {
		font-weight: 400;
		color: $point-color;
	}
}

.cms {
	margin-top: 70px;

	span {
		color: #000;
	}
}

.btn-wrap {
	margin-top: 30px;

	&.login {
		margin-top: 24px;
	}

	.btn-form {
		margin-left: 0;
		margin-top: 8px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.btn-form-wrap {
	margin-top: 40px;
}

.inp-mt {
	margin-top: 8px;
}

.error {
	line-height: 18px;
}

.inp {
	@at-root input#{&}:read-only {
		background: rgba(251, 251, 251, 1);
		border: 0;
		color: $basic-color;
	}
}