@use 'base' as base;

#content {
    padding-bottom: 40px;
}

.list {
    &-content {
        p {
            margin-top: 3px;
            line-height: 1.45;
        }

        .text-info {
            span {
                margin-right: 7px;
                padding-left: 7px;
                @include base.font(400, 15px);
                color: base.$gray-7f;
            }
        }

        .t-title2 {
            display: block;
            overflow: hidden;
            width: 100%;

            >span {
                font-weight: 400;
            }
        }
    }

    &-area {
        position: relative;
        margin-top: 50px;

        @at-root section &:first-child {
            margin-top: 22px;
        }

        @at-root .kivi+section & {
            margin-top: 50px;
        }

        .label-type {
            position: absolute;
            top: 0;
            right: 0;
        }

    }

    &-scroll {
        .text-info {
            margin-top: 4px;
        }
    }

}

.btn-area {
    margin-top: 40px;
}

.banner-area {
    margin-top: 50px;

    a {
        display: block;

        img {
            max-width: 100%;
        }
    }
}

.select {
    margin-top: 20px;

    .select-box {

        &.btn-type {
            margin-right: -7px;

            label {
                margin-left: 0;
                margin-right: 7px;
                margin-bottom: 15px;
            }
        }
    }
}

.hash-tag {
    padding-bottom: 13px;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    padding: 0 26px;
    background: base.$gray-2e;

    p {
        @include base.font(600, 12px);
        color: #CECECE;

        em {
            color: base.$white;
            font-weight: inherit;
        }
    }

    a {
        display: inline-block;
        padding: 7px 21px 6px 10px;
        border-radius: 3px;
        background: base.$point-color url(../img/main/btn-download.png) no-repeat right 8px top 8px/9px auto;
        @include base.font(600, 10px);
        color: base.$white;
    }
}
.kivi {
	.swiper-slide {
		overflow: hidden;

		img {
			transform: scale(1);

            @include base.append('-active') {
                position: relative;
                transform: scale(1.1);
				transition: transform 5s linear;
            }
		}
	}

	.swiper-pagination {
		display: inline-table;
		left: 0;
		bottom: 23px;
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		table-layout: fixed;
		border-spacing: 10px;

		.swiper-pagination-bullet {
			position: relative;
			display: table-cell;
			height: 2px;
			background: rgba(255, 255, 255, 0.7);

			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 100%;
				min-height: 2px;
			}


			&-active {
				&:after {
					width: 100%;
					background: base.$point-color;
					transition: width 5s linear;

					@at-root .start#{&} {
						width: auto;
						animation: once 5s linear forwards;

						@keyframes once {
							0% {
								width: 0;
							}

							100% {
								width: 100%;
							}
						}
					}
				}
			}

			&.prev {
				&:after {
					width: 100%;
					background: base.$point-color;
				}
			}
		}
	}
}


.paging {
	.swiper-slide {
		max-width: 100%;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.swiper-pagination-bullet {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin: 0 7px;
		border-radius: 50%;
		background: base.$white;
		opacity: 0.7;
	}

	.swiper-pagination-bullet-active {
		background: base.$point-color;
		opacity: 1;
	}

}

.kivi .swiper-pagination {
    bottom: 15px;
}