.msg {
    &-wrap {
        padding-top: 10px;
        padding-bottom: 70px;
    }

    &-date {
        padding-bottom: 8px;
        @include font(400, 12px);
        color: $gray-83;
        text-align: center;
    }

    &-chat {
        position: relative;
        margin-top: 28px;

        &.cnsl {
            padding-left: 62px;
            padding-right: 21px;
        }

        &.user {
            padding-left: 21px;
            padding-right: 7px;
            text-align: right;
        }

        figure {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;

            img {
                max-width: 100%;
            }
        }

        .chat {
            &-info {
                .name {
                    @include font(600, 14px);
                }

                .time {
                    display: inline-block;
                    margin-left: 5px;
                    @include font(400, 12px);
                    color: $gray-83;
                }
            }

            &-box {
                display: inline-block;
                position: relative;
                margin-top: 7px;
                padding: 12px 16px;
                border-radius: 3px;
                line-height: 1.3;
                color: #3a3a3a;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -7px;
                    top: 0;
                    width: 8px;
                    height: 8px;
                    background: url(../img/detail/bg-chat_cnsl.png) no-repeat 0 0/12px auto;

                    @at-root .user#{&} {
                        left: auto;
                        right: -7px;
                        width: 7px;
                        top: 0;
                        background-image: url(../img/mypage/bg-chat_user.png);
                        background-position: 100% 0;
                    }
                }

                @at-root .cnsl#{&} {
                    background: $gray-f6;
                    font-size: 15px;
                }

                @at-root .user#{&} {
                    // border: 1px solid #c9c9c9;
                    border-top-right-radius: 0;
                    background: $gray-83;
                    color: $white;
                    font-size: 14px;
                    text-align: left;

                }

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    &-inp {
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px 0 8px 20px;
        border-top: 1px solid #E5E5E5;
        background: $white;

        .inp {
            height: 50px;
            padding: 0 14px;
            border-radius: 3px;

            &:focus {
                border: none;
            }

            &:not(:placeholder-shown)~.btn-send {
                color: $point-color;
            }
        }

        .btn-send {
            padding: 10px 20px;
            @include font(600, 16px);
            color: #AEAEAE;

            &.active {
                color: $point-color;
            }
        }
    }
}