@mixin font($weight: 400, $size: inherit) {
	font-weight: $weight;
	font-size: $size;
}
@mixin noto($weight: 400, $size:'') {
	font-family: 'Noto', sans-serif;
	font-weight: $weight;
	font-size: $size;
}

@mixin roboto($weight: 400, $size:'') {
	font-family: 'Roboto', sans-serif;
	font-weight: $weight;
	font-size: $size;
}