.photo {
    padding: 0;
    background: $basic-color;

    .pop-cont {
        box-sizing: border-box;
        height: 100%;
        padding-bottom: 56px;
    }

    .bg {
        width: 100%;
    }

    .dim {
        position: fixed;
        width: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.6);

        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }
    }

    .view-box {
        overflow: hidden;
        position: fixed;
        z-index: 1;
        top: 50%;
        box-sizing: border-box;
        width: 100%;
        height: 235px;
        border: 1px solid rgba(255, 255, 255, 0.35);

        .line {
            &::before {
                content: "";
                position: absolute;
                background: rgba(255, 255, 255, 0.35);
            }

            &::after {
                @extend .line::before;
            }

            &.horizontal {
                &::before {
                    width: 1px;
                    height: 100%;
                    left: 33.33%;
                }

                &::after {
                    left: 66.66%;
                }
            }

            &.vertical {
                &::before {
                    width: 100%;
                    height: 1px;
                    top: 33.33%;
                }

                &::after {
                    top: 66.66%;
                }
            }
        }
    }
}