.post {

    .pop-cont {
        box-sizing: border-box;
        height: 100%;
        margin-top: 50px;
        padding-bottom: 56px;


        .inp {
            height: 50px;
            padding-right: 12px;
            border-bottom-color: $gray-f6;
            font-size: 15px;

            &:focus {
                border-bottom-color: $point-color;
            }

            &:not(:placeholder-shown) {
                border-bottom-color: $point-color;
            }

            &-wrap {
                display: flex;
                justify-content: space-around;
            }

            &-bundle {
                width: 100%;
            }

            &-search_del {
                right: 10px;
            }
        }

        .btn-form {
            max-width: 64px;
            height: 50px;
        }
    }

    &-result {
        margin-top: 10px;
        border-top: 1px solid $gray-ea;
    }

    &-num {
        margin-top: 30px;
        @include font(600, 14px);
    }

    &-result {
        li {
            padding: 16px 0;
            border-bottom: 1px solid $gray-ea;

            &.active {
                margin-left: -25px;
                margin-right: -25px;
                padding-left: 25px;
                padding-right: 25px;
                background: $gray-f6;
            }
        }

        a {
            display: block;
        }

        dl {
            display: flex;
            justify-content: flex-start;
            margin-top: 4px;
        }

        dt {
            width: 100%;
            max-width: 50px;
            @include font(400, 14px);
            color: $gray-b7;
        }

        dd {
            width: 100%;
            @include font(600, 15px);
            color: $gray-2e;
        }
    }

    .btn-form-floating {
        position: fixed;
        width: 100%;
        bottom: 0;
    }

}