.pop-guide {
    padding-bottom: 15px;

    .desc {
        @include font(200, 19px);
        line-height: 31px;
    }

    section {
        margin-top: 70px;

        &:first-child {
            margin-top: 60px;
        }
    }

    .t-title2 {
        font-weight: 800 !important;
    }

    .inp-wrap {
        margin-top: 20px;
        font-size: 15px;
        line-height: 22px;

        .inp-tit {
            margin-bottom: 5px;
        }

        .strong {
            font-weight: 400;
        }

        .ex {
            font-weight: 200;
            color: $gray-83;

            li {
                padding-left: 10px;
                text-indent: -10px;

                &:first-child {
                    margin-top: 5px;
                }
            }
        }

        figure {
            margin-top: 15px;

            &:last-child {
                margin-bottom: 40px;
            }

            img {
                width: 100%;
            }

            &+.inp-wrap {
                margin-top: 50px;
            }

            &+.ex {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            &+.strong {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }

    .notice-wrap {
        margin-top: 20px;

        .table {
            caption {
                color: $gray-83;
            }
        }
    }
}