.sch-header {
	.t-title1 {
		margin-top: 36px;
		font-weight: 600 !important;
	}

	.tab-title {
		margin-top: 22px;
	}

	.inp-wrap{
		margin-top: 15px;
	}

}

.no-msg {
	padding-top: 15px;
	@include font(400, 16px);
	color: $gray-b7;
	text-align: center;
}

.flex-justify {
	display: flex;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 11px;

	h3 {
		flex: 1 0;
		margin-bottom: 0;
		@include font(600, 20px);
	}

	.more {
		margin-top: 0;
	}

	.more-arrow {
		align-self: center;
	}

	&+.cont {
		height: 0;
		margin-top: 0;
	}
}

.more-arrow {
	display: block;
	position: relative;
	@include font(200, 16px);

	strong {
		margin-right: 5px;
		font-weight: 600;
	}

	&.small {
		@include font($weight: 600, $size:16px);
		.ico-more_arrow{
			margin-top:-4px;
			margin-left:2px;
		}
	}

}

.result {
	@at-root .sch-header+section {
		margin-top: 25px;
	}

	&:last-child {
		padding-bottom: 64px;
	}
}

.list {
	&-mypage {
		padding-bottom: 0;

		li {
			border-top: none;
			padding: 5px 0;

			&:last-child {
				padding-bottom: 0;
			}
		}

		.list-desc {
			@include font(200, 13px);

			span {
				position: relative;
				margin-left: 10px;
				display: inline-block;
				@include font(400, 13px);

				&:first-child {
					margin-left: 0;

					&:before {
						width: 0;
					}
				}

				&:before {
					position: absolute;
					left: -7px;
					top: 2px;
					width: 1px;
					height: 10px;
					background: rgba(0, 0, 0, 0.1);
					content: '';
				}

				&.last {
					display: block;
					margin-left: 0;
				}
			}
		}

	}
}

.price {

	@include font(600, 18px);

	em {
		font-size: 18px;
	}
}