.enclosed {
	@include font(200, 14px);
	color: $gray-83;
	margin-top: 10px;

	&.type2 {
		font-size: 16px;
	}

	&.mt {
		margin-bottom: 14px;
	}
}

.inp-tit+.check-box,
.inp-tit+.radio-box,
	{
	margin-left: 0;
}

.qna-type {
	padding: 20px 18px 10px 18px;

	textarea {
		margin-top: -2px;
		margin-bottom: 20px;
	}

	.inp-tit {
		@include font(400, 15px);
		color: $gray-83;
	}

	.inp-wrap {
		padding: 0px;

		&:last-child {
			border-top: none;
		}
	}
}

.dark-box {
	margin-top: 30px;
	padding: 24px 25px;
	background: $gray-5b;
}

.place-find {
	dt {
		margin-top: 18px;
		@include font(600, 14px);
		color: $gray-d9;

		&:first-child {
			margin-top: 0;
		}
	}

	dd {
		margin-top: 6px;
		@include font(400, 16px);
		color: $white;
	}
}

.list-place {
	padding: 30px 25px;

	.list-mypage {
		padding-top: 0px;
		margin-top: 30px;
	}
}

.tit-list {
	display: block;
	@include font(600, 20px);
	color: $basic-color;
}

.place-none {
	height: auto;
	margin-top: 80px;
	margin-bottom: 90px;
}

.rent {
	&-status {
		@include font(600, 15px);
		color: $gray-2e;
	}

	&-list {
		margin-top: 8px;

		li {
			padding-top: 0;
			@include font(400, 13px);
			color: $gray-2e;
			line-height: 22px;

		}
	}
}

.inp-wrap {
	.list-mypage {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.btn-form-wrap {
	&+.inp-wrap {
		margin-top: 64px;
	}
}

.new-date {
	margin-top: 30px;
	padding: 30px 25px;
	background: $gray-ea;
}

.place-type {
	margin: 30px 0;
	padding-top: 30px;
	border-top: 1px solid $gray-ea;

	&:nth-last-child(1) {
		padding-bottom: 34px;
	}

	@at-root .place-cal+& {
		margin-top: 0;
		border-top: none;
	}

	.class-info {
		padding: 0;
	}

	li {
		padding-top: 0px;
	}

	.class-tit {
		min-width: 120px;
		max-width: 120px;
	}

	.btn-flex {
		margin-top: 30px;
	}

	.state {
		font-size: 0;

		.oval {
			margin-left: 6px;

			&:nth-child(1) {
				margin-left: 0px;
			}
		}

		&-txt {
			@include font(400, 14px);
			color: $gray-b7;
		}
	}
}

.intro.swiper-container {
	margin-top: 50px;

	.swiper-slide {
		background: $point-color;

		figure {
			overflow: hidden;
			box-sizing: border-box;
			height: 390px;
			padding: 106px 49px 0 49px;
			background: $point-color;

			figcaption {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				@include font(600, 20px);
				line-height: 1.5;
				color: $white;
				text-align: center;
				box-sizing: border-box;

				p {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 122px;
				}
			}
		}
	}



	.step-box {
		position: relative;
		height: 180px;
		padding: 30px 25px;
		background: #fff;
		box-sizing: border-box;

		&:before {
			position: absolute;
			bottom: 180px;
			left: 0;
			display: block;
			width: 100%;
			height: 85px;
			background: url('../img/mypage/bg-intro_shadow.png') 0 0 no-repeat / auto 100%;
			content: '';
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			transition: opacity .35s;
		}

		p {
			strong {
				color: $point-color;
			}

			@include font(600, 20px);
			color:$basic-color;
		}

		ul {
			margin-top: 16px;
			@include font(400, 16px);

			li {
				padding-top: 8px;

				&:first-child {
					padding-top: 0;
				}
			}
		}
	}

	.swiper-slide-active {
		.step-box::after {
			opacity: 0;
			transition-delay: .35s;
		}
	}

	.swiper-pagination {
		position: absolute;
		bottom: 190px;
		z-index: 10;
	}

	.swiper-pagination-bullet {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin: 0 7px;
		border-radius: 50%;
		background: $white;
		opacity: 0.7;
	}

	.swiper-pagination-bullet-active {
		background: $point-color;
		opacity: 1;
	}

	&+.btn-form-wrap {
		margin-top: 0;
		margin-left: -25px;
		margin-right: -25px;

		.btn-form {
			border-radius: 0;
		}
	}

}

@media only all and (min-width:320px) and (max-width:359px) {
	.place-type {
		.btn-flex {
			.list-status {
				font-size: 13px;

				.ico-more_arrow {
					margin-left: 6px;
					margin-top: -2px;
				}
			}
		}
	}
}