@charset "utf-8";

@import "../../common/scss/variables";
@import "mixin";
@import "footer";

.error-area {
    padding: 0 25px;

    .sub-title {
        margin-top: 40px;
    }

    .title {
        @include font(800, 40px);

    }

    .desc {
        margin-top: 25px;
        @include font(200, 22px);
        line-height: 35px;
    }

    .msg {
        margin-top: 20px;
        @include font(200, 17px);
        line-height: 27px;
    }

    .btn-form {
        margin: 70px 0 65px;
    }
}